<h1 style="font-family: Trebuchet MS,serif">
  <div id="alignedToTheLeft">
    {{this.currentUser.username != null && this.currentUser.username != '' ? this.currentUser.username : ""}}
    {{this.mostRecentJobName != null && this.mostRecentJobName != '' ? " - " + this.mostRecentJobName : ""}}
    {{this.currentUser.mainSector != null && this.currentUser.mainSector != '' ? "(" + this.currentUser.mainSector + ")" : ""}}
  </div>
  <div id="alignedToTheRight">
    {{this.currentUser.gender != null ? this.currentUser.gender : ""}}
    {{this.currentUser.age != null ? " - " + this.currentUser.age : ""}} years old
    {{this.currentUser.location != null && this.currentUser.location != '' ? " - " + this.currentUser.location : ""}}
    {{this.currentUser.education != null && this.currentUser.education != '' ? " - " + this.currentUser.education : ""}}
  </div>
</h1>

<br>
<br>
<div fxLayout="row">
  <div #containerRef fxFlex="70%">
    <ngx-charts-line-chart
      [view]="[containerRef.offsetWidth, 400]"
      [scheme]="colorScheme"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [showGridLines]="showGridLines"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [yAxisTickFormatting]="yAxisTickFormattingFn"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [activeEntries]="activeEntries"
      [results]="dataGraph"
      (activate)="legendLabelActivate($event)"
      (deactivate)="legendLabelDeactivate($event)"
    >
    </ngx-charts-line-chart>
  </div>

  <div fxFlex="30%">
    <ngx-charts-legend fxFlex="100%"
                       class="chart-legend"
                       [data]="chartNames"
                       [title]="'Graphs'"
                       [colors]="colors"
                       (labelActivate)="legendLabelActivate($event)"
                       (labelDeactivate)="legendLabelDeactivate($event)"
                       [activeEntries]="activeEntries"
    ></ngx-charts-legend>
  </div>
</div>


<br>
<div *ngIf="currentUser.comment" style="white-space:pre-wrap;">
  <h2 style="text-align: left; font-weight: bolder">Comment</h2>{{currentUser.comment}}
</div>
