<h1 style="font-family: Trebuchet MS,serif">
  <div id="alignedToTheLeft">
    {{this.currentUser.username != null && this.currentUser.username != '' ? this.currentUser.username : ""}}
    {{this.mostRecentJobName != null && this.mostRecentJobName != '' ? " - " + this.mostRecentJobName : ""}}
    {{this.currentUser.mainSector != null && this.currentUser.mainSector != '' ? "(" + this.currentUser.mainSector + ")" : ""}}
  </div>
  <div id="alignedToTheRight">
    {{this.currentUser.gender != null ? this.currentUser.gender : ""}}
    {{this.currentUser.age != null ? " - " + this.currentUser.age : ""}} years old
    {{this.currentUser.location != null && this.currentUser.location != '' ? " - " + this.currentUser.location : ""}}
    {{this.currentUser.education != null && this.currentUser.education != '' ? " - " + this.currentUser.education : ""}}
  </div>
</h1>

<br>
<br>

<ngx-charts-line-chart
  [view]="view"
  [legend]="legend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [showGridLines]="showGridLines"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [timeline]="timeline"
  [results]="dataGraph"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
>
</ngx-charts-line-chart>

<br>
<div *ngIf="currentUser.comment" style="white-space:pre-wrap;">
  <h2 style="text-align: left; font-weight: bolder">Comment</h2>{{currentUser.comment}}
</div>
