.user-infos {
  font-family: Trebuchet MS, serif;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 0;
}

.user-infos h1 {
  margin-bottom: 0;
}

.user-infos button:first-of-type {
  margin: 0 10px 0 auto
}


.edit-your-experience-button {
  background-color: crimson;
  color: white;
  font-size: 15px;
}

