.home-text {
  font-size: 13px;
  color: dimgray;
}

p {
  margin-top: 10px;
}

h3 {
  font-size: 20px;
  margin: 0;
}

.card-component {
  background-color: #121212;
  padding: 20px;
  margin-top: 10px;
  color: #dddddd;
}

.mobile-card-component {
  padding: 30px;
  margin-top: 0;
}

.card-component material-icons {
  text-align: center;
  color: white;
}

.view-experiences-and-salaries-button {
  width: auto;
  height: auto;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  margin: 0.3%;
  background-color: green;
  color: white;
  border-radius: 10px !important;
  text-align: center;
  font-size: 20px;
}
