<div *isNotMobile>
  <mat-progress-bar mode="indeterminate" class="green-progress" *ngIf="showProgressBar"></mat-progress-bar>

  <div class="ag-theme-alpine" *ngIf="currentUser != null || chosenCountryFromHomePage != null">
    <!-- Share your experience button-->
    <div class="container-fluid">
      <div class="col-xs-12" style="height: 100%; vertical-align: center;">
        <div style="text-align: center; font-size: 31px;" *loggedInUserHasNoSalaryHistory>
          <button mat-raised-button class="share-your-experience-button" (click)="openSignupDialog($event)">Share your experience !</button>
        </div>
      </div>
    </div>

    <!-- Convert salaries to currency & currencies-->
    <div fxLayout="row" style="padding-top: 15px; padding-bottom: 0;">
      <div class="col-xs-7">
        <div class="col-xs-7" style="margin-left: 0; padding-left: 0;">
          <br>
          <div class="flag-and-currency-title">Convert salaries to currency</div>
          <a [style.background-color]="currency !== selectedCurrency ? 'white' : 'palegoldenrod'"
             class="currency" *ngFor="let currency of currencies"
             (click)="applyNewCurrencySelected(currency)">
            {{currency}}
          </a>
        </div>
        <div class="col-xs-5" style="font-size: 10px;">
          <mat-form-field floatLabel="never" appearance="outline" style="font-size: 14px; width: 100%; margin-top:0.3%;">
            <mat-label>
              <mat-icon>search</mat-icon>
              Filter by anything
            </mat-label>
            <input matInput style="text-align: left; height: 10px;" id="filter-text-box" (input)="onFilterTextBoxChanged()"/>
          </mat-form-field>
        </div>

        <!-- ###########################################-->
        <!-- ################# AG GRID ################# -->
        <!-- ########################################### -->
        <div class="col-xs-12" style="margin-left: 0; padding-left: 0;" *ngIf="currentUser != null || chosenCountryFromHomePage != null">
          <ag-grid-angular
            style="width: 100%;"
            class="ag-theme-alpine-dark"
            [rowData]="rowData"
            [columnDefs]="desktopColumnDefs"
            [gridOptions]="gridOptions"
            (gridReady)="onGridReady($event)"
            (rowClicked)="openUserInfos($event)"
            [tooltipShowDelay]="tooltipShowDelay"
            [tooltipHideDelay]="tooltipHideDelay"
          >
          </ag-grid-angular>
        </div>
      </div>
      <div class="col-xs-5 user-infos-and-ngx-graph-div" *ngIf="currentUser != null">
        <div class="col-xs-12" style="margin: 0; padding: 0; ">
          <div class="user-infos">
            <div style="margin-left: 15px; ">
              <h2 style="margin-top: 15px; ">
                {{this.currentUser.username != null && this.currentUser.username != '' ? this.currentUser.username : ""}}
                {{this.mostRecentJobName != null && this.mostRecentJobName != '' ? " - " + this.mostRecentJobName : ""}}
                {{this.currentUser.mainSector != null && this.currentUser.mainSector != '' ? "(" + this.currentUser.mainSector + ")" : ""}}
              </h2>
              <h4 style="margin-top: 0; font-style: italic">{{this.userInfosString.join(" - ")}}</h4>
            </div>

          </div>
          <div fxLayout="row">
            <div #containerRef fxFlex="100%">
              <ngx-charts-line-chart
                [view]="[containerRef.offsetWidth, 400]"
                [scheme]="colorScheme"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [showGridLines]="showGridLines"
                [xAxis]="xAxis"
                [yAxis]="yAxis"
                [yAxisTickFormatting]="yAxisTickFormattingDesktop"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [activeEntries]="activeEntries"
                [results]="dataGraph"
                [legendPosition]="legendPosition"
                (activate)="legendLabelActivate($event)"
                (deactivate)="legendLabelDeactivate($event)"
                (select)="onSelect($event)"
                style="fill: black;"

              >
                <ng-template #seriesTooltipTemplate let-model="model">
                  <div>
                    <h3 style="text-align: center; margin-bottom: 0; color:azure">
                      {{model[0].jobName}}
                      {{((model[0].jobName != "" && model[0].jobName != null) && (model[0].companyName != "" && model[0].companyName != null) ? " - " : "") }}
                      {{model[0].companyName}}
                      {{model[0].companySector}}

                    </h3>
                    <h4
                      style="text-align: left; margin-bottom: 0; margin-top: 0; color:whitesmoke; font-style: italic">{{model[0].contractType}}</h4>
                    <div
                      style="text-align: left; vertical-align: center; border-radius: 5px; border-color: white; margin-bottom: 3%;">
                      Base Salary : {{model[1].value != null ? this.numberService.formatBigNumberWithSpaces(model[1].value) : 0}} {{this.numberService.formatCurrency(model[0].salaryCurrency)}}
                      <br>
                      Bonus Salary : {{model[2].value != null ? this.numberService.formatBigNumberWithSpaces(model[2].value) : 0}} {{this.numberService.formatCurrency(model[0].salaryCurrency)}}
                      <br>
                      Equity : {{model[3].value != null ? this.numberService.formatBigNumberWithSpaces(model[3].value) : 0}} {{this.numberService.formatCurrency(model[0].salaryCurrency)}}
                      <br>
                      Total Salary : {{model[0].value != null ? this.numberService.formatBigNumberWithSpaces(model[0].value) : 0}} {{this.numberService.formatCurrency(model[0].salaryCurrency)}}
                    </div>
                  </div>

                </ng-template>
              </ngx-charts-line-chart>
            </div>
          </div>
          <ngx-charts-legend
            class="chart-legend"
            [data]="chartNames"
            [title]="'Salary Graphs'"
            [colors]="colors"
            (labelActivate)="legendLabelActivate($event)"
            (labelDeactivate)="legendLabelDeactivate($event)"
            [activeEntries]="activeEntries"
            (select)="onSelect($event)"
            style="margin-bottom: 25px; color: black;"
          ></ngx-charts-legend>
        </div>

        <div *ngIf="currentUser.comment" style="white-space:pre-wrap; margin-left: 15px;">
          <h2 style="text-align: left; font-weight: bolder;">
            Comment
          </h2>
          <div style="font-style: italic; font-size: 14px;">{{currentUser.comment}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

