<div style="font-size: 70px; text-align: center; margin-top: 3%;">Page under construction !</div>
<div style="font-size: 20px; text-align: center; margin-top: 2.5%;">
  <div style="color: darkblue; font-size: 30px;">
    TODO LIST - ALGORITHM / BACKEND
  </div>
  <mat-list>
    <mat-list-item *ngFor="let algorithmSuggestion of algorithmSuggestions">
      <div mat-line>-> {{algorithmSuggestion}}</div>
    </mat-list-item>

    <mat-divider></mat-divider>

    <div style="color: darkgreen; font-size: 30px; margin-top: 2%; margin-bottom: 1%;">
      TODO LIST - GRAPHICAL / FRONTEND
    </div>
    <mat-list-item *ngFor="let graphicalSuggestion of graphicalSuggestions">
      <div mat-line>- {{graphicalSuggestion}}</div>
    </mat-list-item>

    <mat-divider></mat-divider>

    <div style="color: black; font-size: 30px; margin-top: 2%; margin-bottom: 1%;">
      THINGS TO THINK ABOUT
    </div>
    <mat-list-item *ngFor="let otherSuggestion of otherSuggestions">
      <div mat-line>- {{otherSuggestion}}</div>
    </mat-list-item>

  </mat-list>

</div>
