<div style="font-size: 70px; text-align: center; margin-top: 3%;">Page under construction !</div>
<div style="font-size: 20px; text-align: center; margin-top: 5%;">
  <div style="color: crimson; font-size: 30px;">TODO List :</div>
  <br/>
  <br/>- Graphical improvement
  <br/>
  <br/>- Add modify / delete data point in table either with buttons or 3 dots
  <br/>
  <br/>- Add timestamp when salary is added
  <br/>
  <br/>- Add data : by location, age, min/max/means, recommendations
  <br/>
  <br/>- Telephone usage
  <br/>
  <br/>- Add interns / apprentices salaries in a different page
  <br/>
  <br/>- Must add experiences in order to unlock all salaries
  <br/>
  <br/>- User authentification
  <br/>
  <br/>- Think about limiting to only one or few countries ? FR/UK/USA/GER ? Translation ?
  <br/>
  <br/>- Shalary on top and share your salary on bottom
  <br/>
  <br/>- Shalary on top and share your salary on bottom
  <br/>
  <br/>- Shalary on top and share your salary on bottom
</div>
