<div class="ag-theme-balham" *ngIf="!isUserLoaded">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4"></div>
      <div class="col-xs-4">
        <div style="text-align: center;" class="div-user-to-modify">
          <h1>Select user to modify</h1>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Username</mat-label>
              <input type="text"
                     placeholder="Username"
                     aria-label="Username"
                     matInput
                     [formControl]="usernameSearchControl"
                     [matAutocomplete]="auto"
              >
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async | slice : 0 : 20" [value]="option"
                            style="font-size: 13px;">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input type="password"
                     placeholder="Password"
                     aria-label="Password"
                     matInput
                     [formControl]="password"
                     (keydown.enter)="retrieveUserWithIdAndPassword($event)"
              >
            </mat-form-field>
          </form>
          <button mat-raised-button class="edit-your-experience-button"
                  (click)="retrieveUserWithIdAndPassword($event)">Edit your experience !
          </button>
        </div>
        <mat-error style="font-size: 20px; text-align: center; margin-top: 10px;" *ngIf="showPasswordError">Username or password are not correct</mat-error>


      </div>
      <div class="col-xs-4"></div>
    </div>
  </div>


</div>
<div #userFormToModify *ngIf="this.isUserLoaded" style="margin-top: 1%;">
  <div class="colored">
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-2">
        <div>
          <h1>
            Informations
          </h1>

          <form [formGroup]="userInformationsForm">
            <mat-form-field class="full-width-line">
              <mat-label>Username</mat-label>
              <input maxLength="25" formControlName="username" matInput>
            </mat-form-field>
            <br>
            <mat-form-field class="full-width-line">
              <mat-label>Password</mat-label>
              <input type="password" formControlName="password" matInput>
            </mat-form-field>
            <br>
            <mat-form-field class="full-width-line">
              <mat-label>Mail</mat-label>
              <input formControlName="mail" matInput>
            </mat-form-field>
            <br>
            <mat-form-field class="full-width-line">
              <mat-label>Salary Currency</mat-label>
              <mat-select [(value)]="selectedCurrency" formControlName="currency">
                <mat-option *ngFor="let currency of currencies"
                            [value]="currency">{{currency}}</mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field class="full-width-line">
              <input matInput [matAutocomplete]="auto" [formControl]="countriesControl">
              <mat-label>Location</mat-label>

              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let country of filteredCountries | async" [value]="country.name">
                  <img aria-hidden [src]="country.flag.valueOf() | safe:'resourceUrl'" height="25" width="35"
                       onerror="this.onerror=null; this.remove();">
                  <span style="font-size: 14px;"> {{country.name}}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <br>
            <mat-form-field class="full-width-line">
              <mat-label>Total Years of Experience</mat-label>
              <input formControlName="yearsOfExperience" matInput>
            </mat-form-field>
            <br>


            <mat-form-field class="full-width-line">
              <mat-label>Education (optional)</mat-label>
              <mat-select [(value)]="selectedEducation" formControlName="education">
                <mat-option *ngFor="let educationLevel of educationLevels"
                            [value]="educationLevel">{{educationLevel}}</mat-option>
              </mat-select>
            </mat-form-field>


            <br>
            <mat-form-field class="full-width-line">
              <mat-label class="optional">Age (optional)</mat-label>
              <input formControlName="age" matInput>
            </mat-form-field>
            <br>
            <mat-form-field class="full-width-line">
              <mat-label class="optional">Gender (optional)</mat-label>
              <mat-select [(value)]="selectedGender" formControlName="gender">
                <mat-option *ngFor="let gender of ['', 'Male', 'Female']"
                            [value]="gender">{{gender}}</mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field class="full-width-line">
              <mat-label class="optional">Comment (optional)</mat-label>
              <textarea style="white-space: pre-wrap; height: auto;" formControlName="comment" matInput> </textarea>
            </mat-form-field>


            <br>
            <button mat-raised-button class="share-your-experience-button" (click)="addUser($event)">Edit your
              experience !
            </button>
            <h3 style="margin-top: 2%;" *ngIf="isUserAdded">User informations added.</h3>
            <h3 style="margin-top: 2%; color: red" *ngIf="salaryInformationsError">Salary informations error.</h3>
            <h3 style="margin-top: 2%; color: red" *ngIf="userInformationError">User informations error.</h3>
          </form>
        </div>
      </div>
      <div class="col-xs-7"
           style="margin-left: 2%; background-color: white; padding-top: 20px; padding-left: 40px; padding-right: 20px;   border-radius: 30px;">
        <div job-form-line>
          <h1 style="float: left;">Work History</h1>
          <!--        <button mat-raised-button style="margin-left: 1%">See example</button>-->
<!--          <button mat-raised-button class="remove-experience-button" style="float: right;"-->
<!--                  (click)="deleteUser($event)">Remove experience !-->
<!--          </button>-->
          <button mat-raised-button class="remove-experience-button" style="float: right;"
                  (click)="openDeleteUserDialog($event)">Remove experience !
          </button>
        </div>
        <button (click)="addNewJobFormLine()" color="add-job"
                style="margin-left: 20px; margin-bottom: 10px; margin-top: 5px;"
                mat-raised-button>
          Add an experience
        </button>
        <div class="job-form-line">
          <form [formGroup]="salaryInfosForm">
            <br>

            <div formArrayName="salaryInfos">
              <div div style="margin-bottom: 30px;"  *ngFor="let job of salaryInfos.controls; let pointIndex=index" [formGroupName]="pointIndex">
                <mat-form-field style="float: left;" class="job-form-field with-margin-right-30px">
                  <input formControlName="jobName" matInput/>
                  <mat-label class="optional">Job Name</mat-label>
                </mat-form-field>

                <div formGroupName="company">
                  <mat-form-field style="float: left; width: 6%;" class="job-form-field with-margin-right-30px italic">
                    <input maxLength="30" formControlName="name" matInput/>
                    <mat-label>Company</mat-label>
                  </mat-form-field>
                </div>

                <div formGroupName="company">
                  <mat-form-field style="float: left; width: 6%;"
                                  class="job-form-field with-margin-right-30px italic">
                    <input formControlName="sector" matInput/>
                    <mat-label>Sector</mat-label>
                  </mat-form-field>
                </div>

                <mat-form-field style="margin-right: 30px; width: 12%;">
                  <mat-label>Prior Years of XP *</mat-label>
                  <input formControlName="yearsOfExperience" matInput/>
                  <mat-hint align="start"># Years before this job</mat-hint>
                </mat-form-field>

                <mat-form-field class="job-form-field with-margin-right-30px">
                  <input formControlName="baseSalary" matInput/>
                  <mat-label>Base Salary</mat-label>
                  <mat-hint align="start">Gross annual</mat-hint>
                </mat-form-field>

                <mat-form-field class="job-form-field with-margin-right-30px italic">
                  <input formControlName="bonusSalary" matInput/>
                  <mat-label>Bonus Salary</mat-label>
                </mat-form-field>

                <mat-form-field class="job-form-field with-margin-right-30px italic">
                  <input formControlName="stockSalary" matInput/>
                  <mat-label>Equity</mat-label>
                </mat-form-field>

                <button (click)="removeJobFormLine(pointIndex)" color="remove-job" mat-raised-button type="button">
                  Remove
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!--      <div class="col-xs-1">-->
    </div>
  </div>


</div>
