<!--<h2 style="text-align: center;" *ngFor="let user of users"> {{user.age}} </h2>-->
<div class="row" style="padding:20px 0 0 0; margin:0; width: 100%;">

  <div class="col-xs-12">
    <!--    <div *ngFor="let country of countries" style="float: left; margin-right: 10px; margin-bottom: 10px; width:auto;">-->
    <!--      <a href="http://www.google.com" target="_blank">-->
    <!--        <img aria-hidden="true" [src]="country.flag.valueOf() | safe:'resourceUrl'" height="50" width=75-->
    <!--             alt="">-->
    <!--      </a>-->
    <!--    </div>-->

    <div style="text-align: center; vertical-align: middle; align-items: center; font-size: 12px;">

      <mat-form-field appearance="outline">
        <mat-label>Countries</mat-label>
        <mat-select [formControl]="countriesControl" multiple [(ngModel)]="selectedCountries" class="mat-primary">
          <app-select-all-option [control]="countriesControl" [values]="allCountriesName"></app-select-all-option>
          <mat-option *ngFor="let country of allCountriesWithTheirFlags" [value]="country.name">
            <img aria-hidden [src]="country.flag.valueOf() | safe:'resourceUrl'" height="25" width="35" onerror="this.onerror=null; this.remove();">
            <span style="font-size: 14px;"> {{country.name}}</span>
          </mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>Sectors</mat-label>
        <mat-select [formControl]="sectorsControl" multiple [(ngModel)]="selectedSectors">
          <app-select-all-option [control]="sectorsControl" [values]="sectors"></app-select-all-option>
          <mat-option *ngFor="let sector of sectors" [value]="sector">
            {{sector}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Jobs</mat-label>
        <mat-select [formControl]="jobsControl" multiple [(ngModel)]="selectedJobs">
          <app-select-all-option [control]="jobsControl" [values]="jobNames"></app-select-all-option>
          <mat-option *ngFor="let jobName of jobNames" [value]="jobName">
            {{jobName}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>Companies</mat-label>
        <mat-select [formControl]="companiesControl" multiple [(ngModel)]="selectedCompanies">
          <app-select-all-option [control]="companiesControl" [values]="companies"></app-select-all-option>
          <mat-option *ngFor="let company of companies" [value]="company">
            {{company}}
          </mat-option>
        </mat-select>
      </mat-form-field>
<!--      <mat-form-field appearance="outline">-->
<!--        <mat-label>Salary Ranges</mat-label>-->
<!--        <mat-select [formControl]="salaryRangesControl" multiple [(ngModel)]="selectedSalaryRanges">-->
<!--          <app-select-all-option [control]="salaryRangesControl" [values]="salaryRanges"></app-select-all-option>-->
<!--          <mat-option *ngFor="let salaryRange of salaryRanges" [value]="salaryRange">-->
<!--            {{salaryRange}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
      <mat-form-field appearance="outline">
        <mat-label>Contract Types</mat-label>
        <mat-select [formControl]="contractsControl" multiple [(ngModel)]="selectedContracts">
          <app-select-all-option [control]="contractsControl" [values]="contracts"></app-select-all-option>
          <mat-option *ngFor="let contract of contracts" [value]="contract">
            {{contract}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Education</mat-label>
        <mat-select [formControl]="educationsControl" multiple [(ngModel)]="selectedEducations">
          <app-select-all-option [control]="educationsControl" [values]="educations"></app-select-all-option>
          <mat-option *ngFor="let education of educations" [value]="education">
            {{education}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>


      <button mat-raised-button (click)="resetFilters()" style="background-color: palegoldenrod; color: black;margin-top: 10px; font-size: 14px; height:35px; text-align: left;">
        <mat-icon style="font-size: 20px;  vertical-align: middle;">close</mat-icon>
        RESET
      </button>
      <button mat-raised-button (click)="searchWithCriteria()"
              style="background-color: palegoldenrod; margin-left: 15px; color: black;margin-top: 10px; font-size: 14px; height:35px; text-align: left;">
        <mat-icon style="font-size: 20px;  vertical-align: middle;">search</mat-icon>
        SEARCH WITH FILTERS
      </button>
    </div>


  </div>

</div>

<div class="row" style="background-color: #dadada; text-align: center; padding: 20px 0; margin: 20px 0 0 0;">
  <div class="col-xs-6" style="padding: 20px 0 0 0; margin: 0;">
    <h1 style="font-size: 22px">Salaries found : {{salaries.length}}</h1>
    <h3>Different sectors : {{uniqueSectors}}</h3>
    <h3>Different jobs : {{uniqueJobs}}</h3>
    <h3>Different companies : {{uniqueCompanies}}</h3>
    <h3>Different contracts : {{uniqueContracts}}</h3>
  </div>
  <div class="col-xs-6" style="padding: 20px 0 0 0; margin: 0;">
    <h1 style="font-size: 22px;">Salary Data</h1>
    <h3 style="color: crimson">Min salary : {{minSalary}}</h3>
    <h3 style="color: green">Max salary : {{maxSalary}}</h3>
    <h3 style="color: darkblue">Average salary : {{avgSalary}}</h3>
    <h3 style="color: #1b1e20">Sum of salaries : {{sumSalaries}}</h3>
  </div>
</div>
