<div style="font-size: 70px; text-align: center; margin: 3%;">Page under construction !</div>

<!--<h2 style="text-align: center;" *ngFor="let user of users"> {{user.age}} </h2>-->
<div class="colored">
  <div class="row">
    <div class="col-xs-2">

    </div>

    <div class="col-xs-8">
      <div *ngFor="let country of countries" style="float: left; margin-right: 10px; margin-bottom: 10px; width:auto;">
        <a  href="http://www.google.com" target="_blank">
          <img aria-hidden="true" [src]="country.flag.valueOf() | safe:'resourceUrl'" height="200px" width=300
               alt="">
        </a>
      </div>
    </div>

    <div class="col-xs-2">

    </div>

  </div>
</div>
