<div class="page-container">
  <div class="col-xs-2"></div>
  <div class="col-xs-8" style="padding: 10px; margin-top: 40px;">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>First doggo</mat-card-title>
        <mat-card-subtitle>Bork</mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

      <mat-card-actions align="end">
        <button mat-button class="like-button">LIKE</button>
        <button mat-button class="share-button">SHARE</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Second doggo</mat-card-title>
        <mat-card-subtitle>Wof</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-actions align="end">
        <button mat-button class="like-button">LIKE</button>
        <button mat-button class="share-button">SHARE</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Third doggo</mat-card-title>
        <mat-card-subtitle>Wof wof</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-actions align="end">
        <button mat-button class="like-button">LIKE</button>
        <button mat-button class="share-button">SHARE</button>
      </mat-card-actions>
    </mat-card>

    <br>


    <mat-card *ngFor="let article of articles" style="margin-top: 30px; margin-right: 23px;">
      <mat-card-header>
        <mat-card-title>{{article.headerName}}</mat-card-title>
        <mat-card-subtitle>{{article.subHeaderName}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align="end">
        <button mat-button class="like-button">LIKE</button>
        <button mat-button class="share-button">SHARE</button>
      </mat-card-actions>
    </mat-card>

  </div>
  <div class="col-xs-2"></div>

</div>
