.example-card {
  max-width: 397px;
  margin: 5px;
  display: inline-block;
  background-color: #dadada;
}

.example-header-image {
  max-width: 400px;
  /*background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');*/
  /*background-size: cover;*/
}

.like-button {
  background-color: green;
  color: white;
}

.share-button {
  background-color: whitesmoke;
}

.mat-card-text {
  margin-top: 30px; margin-right: 23px;background-color: #dadada;
}
