
<h2 style="text-align: center">Some errors were found while saving experience :</h2>
<h3 style="margin-top: 0; width: 100%; color: red" *ngIf="usernameAlreadyExists">Username is already taken.</h3>
<h3 style="margin-top: 0; width: 100%; color: red" *ngIf="salaryInformationsError">Salary informations error.</h3>
<h3 style="margin-top: 0; width: 100%; color: red" *ngIf="userInformationError">User informations error.</h3>
<h3 style="margin-top: 0; width: 100%; color: red" *ngIf="errorMessage">[API ERROR] -> {{errorMessage}}</h3>
{{errors}}
