<h2 style="text-align: left">Errors were found while saving career :</h2>
<mat-list>
  <mat-list-item *ngIf="usernameAlreadyExists">
    <h3 style="margin-top: 0; width: 100%; color: red">=> Username is already taken.</h3>
  </mat-list-item>

  <mat-list-item *ngIf="salaryInformationsError">
    <h3 style="margin-top: 0; width: 100%; color: red">=> Salary informations error.</h3>
  </mat-list-item>

  <mat-list-item *ngIf="userInformationError">
    <h3 style="margin-top: 0; width: 100%; color: red">=> User informations error.</h3>
  </mat-list-item>

  <mat-list-item *ngIf="errorMessage && isApiErrorMessage">
    <h3 style="margin-top: 0; width: 100%; color: red">=> [API ERROR] -> {{errorMessage}}</h3>
  </mat-list-item>

  <mat-list-item *ngIf="errorMessage && !isApiErrorMessage">
    <h3 style="margin-top: 0; width: 100%; color: red">=> {{errorMessage}}</h3>
  </mat-list-item>
</mat-list>

{{errors}}
