<div class="main-container">
  <h1>
    Tips and Tricks {{isUserInfoDivOpen ? 'while graph is hidden' : 'while graph is exposed'}} [[MUST SEE GIF]]

  </h1>

  <br>
  <h3>
    You can click on any line to get the user full informations as seen on the graph.
    <br>
    <br>
    You can filter by anything as long as the user informations contains the word you are looking for.
    <br>
    <br>
    You can filter by column using the 3 bars next to each column's name.
    <br>
    <br>
    You can sort each column by clicking on the name.
    <br>
    <br>
    You can click and hold a column and move it, or even remove it if you just drag it outside the grid.
    <br>
    <br>
    You can navigate between the columns using the horizontal slider at the bottom of the grid.
    <br>
    <br>
    You can expand the grid by clicking on the button below tips and tricks button.
    <br>
    <br>
    You can convert all salaries to the selected currency
    <br>
    <br>
    You can put your cursor on a graph point to see the details of the user's experience : salaries, contract type, company, job name.

  </h3>

</div>
