<div class="col-xs-12" style="margin-top: 10px;">
  <div class="card card-container">
    <div style="text-align: center ; margin-bottom: 15px;">
      <h1>Welcome</h1>
      <h3>Log in to continue to Shalary</h3>
    </div>
    <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="userInformationsForm.valid && onSubmit()" #f="ngForm" novalidate (keyup.enter)="userInformationsForm.valid && onSubmit()" >
      <form [formGroup]="userInformationsForm">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Email</mat-label>
          <input type="email" matInput [formControl]="emailFormControl"  #email>
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Password</mat-label>
          <input [type]="showPassword ? 'text' : 'password'"  matInput [formControl]="passwordFormControl" minlength=4>
          <mat-icon matSuffix (click)="togglePasswordVisibility()">{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="passwordFormControl.hasError('password') && !passwordFormControl.hasError('minlength')">
            Password must be at least 4 characters
          </mat-error>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>


        <div class="form-group" style="margin-top: 0; padding-top: 0; color: red">
          <div role="alert" *ngIf="isLoginFailed">
            <mat-icon style="vertical-align: bottom">error</mat-icon> Login failed : {{ errorMessage }}</div>
        </div>
      </form>
      <div style="font-size: 14px; margin-bottom: 15px;">
        <a href="">Forgot password ?</a>
      </div>
      <div class="form-group">
        <button mat-button color="accent" style="width: 100%; height: 40px; background-color: royalblue; color:white;">Log In</button>
      </div>

      <div style="font-size: 14px; margin-bottom: 15px;">
        Don't have an account? <a href="javascript:void(0);" (click)="redirectToSignup()">Create account</a>
      </div>

      <div class="form-group">
        <p class="content-divider center mt-3">
          <span>or</span>
        </p>
        <p class="social-login text-center">
          <a href="{{ googleURL }}" class="ml-2">
            <img alt="Login with Google" src="/assets/img/google.png" class="btn-img">
          </a>
<!--          <a href="{{ facebookURL }}">-->
<!--            <img alt="Login with Facebook" src="/assets/img/facebook.png" class="btn-img">-->
<!--          </a>-->
          <a href="{{ githubURL }}">
            <img alt="Login with Github" src="/assets/img/github.png" class="btn-img">
          </a>
          <a href="{{ linkedinURL }}">
            <img alt="Login with Linkedin" src="/assets/img/linkedin.png" class="btn-img-linkedin">
          </a>
        </p>
      </div>
    </form>
    <div style="text-align: center" class="alert alert-success" *ngIf="isLoggedIn">Welcome {{currentUser.username}} !</div>
  </div>
</div>



