<div fxShow="true" fxHide.lt-md fxFlex fxLayout>
  <mat-toolbar class="white-smoke">
      <button mat-button routerLink="/home">Home</button>
      <button mat-button routerLink="/salaries" style="margin-left: 5%;">Salaries</button>
      <button mat-button routerLink="/data">Data</button>
      <button mat-button routerLink="/about">About</button>
    <!-- This fills the remaining space of the current row -->
    <span style="flex: 1 1 auto"></span>
    <span style="font-size: 14px;">Version - {{shalaryGuiVersion.version}}</span>

  </mat-toolbar>
  <router-outlet style="background-color: whitesmoke" #outlet="outlet"></router-outlet>
</div>
