<div>
  <mat-toolbar color="primary">
      <button class="router-pages-button" mat-flat-button routerLink="/home">Shalary - Share your experience</button>
      <button class="router-pages-button" mat-flat-button routerLink="/salaries" style="margin-left: 5%;">Careers and Salaries</button>
      <button class="router-pages-button" mat-flat-button routerLink="/edit-user-infos">Update user experiences</button>
      <button class="router-pages-button" mat-flat-button routerLink="/data">Data Analytics</button>
      <button class="router-pages-button" mat-flat-button routerLink="/about">TODO List</button>
      <button class="router-pages-button" mat-flat-button routerLink="/test">Test Page</button>
    <!-- This fills the remaining space of the current row -->
    <span style="flex: 1 1 auto"></span>
    <span style="font-size: 14px;">GUI Version - [{{shalaryGuiVersion.version}}]</span>

  </mat-toolbar>
  <router-outlet style="background-color: white" #outlet="outlet"></router-outlet>
</div>
