<div>
  <mat-toolbar color="primary">
      <button mat-button routerLink="/home">Shalary - Share your Salary</button>
      <button mat-button routerLink="/salaries" style="margin-left: 5%;">Salaries</button>
      <button mat-button routerLink="/edit-user-infos">Edit user infos</button>
      <button mat-button routerLink="/data">Data</button>
      <button mat-button routerLink="/about">About</button>
    <!-- This fills the remaining space of the current row -->
    <span style="flex: 1 1 auto"></span>
    <span style="font-size: 14px;">Version - {{shalaryGuiVersion.version}}</span>

  </mat-toolbar>
  <router-outlet style="background-color: white" #outlet="outlet"></router-outlet>
</div>
