
.website-background-color {
  background-color: #121212;
}


.header {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 0;
}


.mat-toolbar.mat-primary {
  /*background-color: #393f41;*/
  background-color: #121212;
  height: 70px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid lightgray;
}

.router-pages-button {
  color: white;
  font-size: 14px;
  border-radius: 5px !important;
  border-color: white !important;
  margin-left: 5px;
}

.my-career {
  background-color: royalblue;
  color: white; margin-right: 10px;
}

.router-pages-button-login {
  font-size: 14px;
  border-radius: 5px !important;
  border-color: white !important;
  background-color: green;
  color: whitesmoke;
  margin-right: 10px;

}

.router-pages-button-signup {
  font-size: 14px;
  border-radius: 5px !important;
  border-color: white !important;
  background-color: royalblue;
  color: whitesmoke;
}

.router-pages-button-logout {
  font-size: 14px;
  border-radius: 5px !important;
  border-color: white !important;
  background-color: indianred;
  color: white;
}


.dropdown-router-pages-button {
  color: white;
  font-size: 14px;
  border-radius: 5px !important;
  border-color: white !important;
  background-color: #121212;
  text-align: left;

}

.careers-and-salaries {
  width: 170px;
  margin: 5px;
}

.test-and-user-feedbacks {
  width: 150px;
  margin: 5px;
}

.user-experiences {
  width: 180px;
  margin: 5px;

}

::ng-deep .router-pages-button-2 {
  background-color: #121212;
}

.router-pages-button-2 {
  background-color: #121212;
  color: white;
}

.active_route {
  background-color: palegoldenrod;
  color: #121212;
}


.router-pages-button-before-with-stroked-button {
  margin-right: 0.4%;
  background-color: darkgray;
  color: aliceblue;
  font-size: 15px;
  border-radius: 5px !important;
  border-color: white !important;
}


::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: #dadada;
  border-radius: 10px;
}
