
.header {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 0;
}

body {
  background-color: black;
}

.mat-toolbar.mat-primary {
  /*background-color: darkgray;*/
  /*background-color: gray;*/
  background-color: #34343c;
  height: 55px;
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.router-pages-button {
  /*background-color: whitesmoke;*/
  /*color: #001524;*/
  /*background-color: darkgray;*/
  color: white;
  font-size: 14px;
  border-radius: 5px !important;
  border-color: white !important;
}

.dropdown-router-pages-button {
  color: white;
  font-size: 14px;
  border-radius: 5px !important;
  border-color: white !important;
  background-color: #34343c;
  text-align: left;
}

.careers-and-salaries {
  width: 100px;
  margin: 5px;
}

.user-experiences {
  width: 180px;
  margin: 5px;

}

::ng-deep .router-pages-button-2 {
  background-color: #34343c;
}

.router-pages-button-2 {
  background-color: #34343c;
  color: white;
}

.active_route {
  background-color: white;
  color: #34343c;
}


.router-pages-button-before-with-stroked-button {
  margin-right: 0.4%;
  background-color: darkgray;
  color: aliceblue;
  font-size: 15px;
  border-radius: 5px !important;
  border-color: white !important;
}

.website-background-color {
  background-color: white;
}

