<div style="background-color: bisque;margin: 10%; width:80%;">
  <div style="margin: 5%; text-align: justify">
    Many people nowadays can't put a price on their head, even after working for several years.
    Some underestimate their market value, and some overestimate it. It can be very difficult to get accurate
    data
    in this vast ocean of information : for example, you want to know how much you can ask what salary increase
    you can get for a junior commercial job, after two years of experience in the same company.
    You start to look, but you realize information given is all over the place : salary in different currencies
    and countries, you don't find people with same skills as yours, or in the same sector as you work in, and in
    your place, no one wants to share their salary.
    <br>
    <br>
    Shalary is a website where everyone can anonymously share their salary history. From anywhere in the world,
    you can read data about other users, their story and their progression throughout their careers, in various
    sectors such as Banking, Finance, IT, Sales, Trading, Healthcare, etc.
    <br>
    <!--          <mat-list>-->
    <!--            <mat-list-item *ngFor="let sector of sectors">-->
    <!--              <mat-icon>arrow_right</mat-icon>-->
    <!--              {{sector}}</mat-list-item>-->
    <!--          </mat-list>-->
    <br>
    You will be able to obtain interesting data thanks to the various testimonies of the users of the site. For
    example, you want to know the average salary of a data scientist after a master and 5 years of experience in
    Paris in consulting firms?
    No problem, Shalary is here for you.
  </div>
</div>
