body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;

}

.only-row {
  margin: 0;
  padding: 0;
  text-align: justify;
  /*background-color: white;*/
  /*color: #767676;*/
  background-color: #121212;
  color: white;
  width: 100%;
  min-height: 100%;
  height: calc(100vh - 70px); /*check toolbar size*/
}

.salaryman-img {
  /*width: 600px;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3%;

  border-radius: 0 0 300px 300px;
  /*border-radius: 400px 400px 0 0;*/
  /*max-width: 640px;*/
  max-width: 32%;
  height: auto;
}

h1, h2 {
  padding-top: 50px;
  font-weight: bold;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-size: 2vw;
  text-align: left;
  line-height: 50px;
  color: palegoldenrod
}

h2 {
  color: white;
  font-size: 1.5vw;
  padding-top: 50px;
  font-weight: bold;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  text-align: left;
  line-height: 50px;
}

.card-component {
  padding-top: 10px;
  padding-left: 50px;
}

.route-buttons {
  height: 40px;
  color: white;
  background: #1b1e20;
  margin-right: 4%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-color: #9ecaed;
  box-shadow: 0 0 15px palegoldenrod;
}

.col-xs-5 {
  padding-top: 0;
}

.search-by-country-and-buttons-div {
  padding-top: 7%;
}

input {
  height: 100%;
  width: 350px;
  border: 2px solid palegoldenrod
}

.mat-auto-complete {
  border: 2px solid palegoldenrod
}

.search-country-button {
  font-weight: bold;
  width: 50px;
  height: 50px;
  font-size: 18px;
  background-color: palegoldenrod;
  color: #121212;
  border: 2px solid palegoldenrod;
}

.search-career-input {
  font-size: 16px;
  padding-left: 10px;
  height: 50px;
  color: #121212;
}

/* MOBILE */

.mobile-card-component {
  padding-top: 5%;
  text-align: center
}


.mobile-search-by-country-and-buttons-div {
  padding-top: 3%;
}

.mobile-search-country-button {
  font-weight: bold;
  width: auto;
  height: 35px;
  font-size: 15px;
  background-color: palegoldenrod;
  color: #121212;
  border: 2px solid palegoldenrod;
}

.mobile-search-career-input {
  font-size: 13px;
  padding-left: 5px;
  height: 35px;
  width: 50%;
  color: #121212;
}

.mobile-salaryman-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3%;
  border-radius: 0 0 300px 300px;
  height: auto;
  width: 60%;
}

h3 {
  font-weight: bold;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  color: palegoldenrod
}

.mobile-route-buttons {
  height: auto;
  color: white;
  background: #1b1e20;
  border-color: #9ecaed;
  box-shadow: 0 0 7px palegoldenrod;
  font-size: 85%;
  margin: 10px;
}
