<div class="row only-row" *isNotMobile>

  <div class="col-xs-1"></div>
  <div class="col-xs-5">
    <div class="card-component">
      <div [@openClose]="isOpen ? 'open' : 'closed'">
        <h1>
          SHALARY - SALARY SHARING
        </h1>
        <h2>
          WORLD'S HIGHEST RATED #1
          <br>
          ANONYMOUS CAREERS SHARING SITE
        </h2>
      </div>


      <div class="search-by-country-and-buttons-div ag-theme-alpine" [@apparition]="isOpen ? 'open' : 'closed'">


        <div class="wrapper" style="margin-bottom: 10px; ">
          <input [matAutocomplete]="auto" [formControl]="countriesControl" placeholder="Search careers by country" class="search-career-input" value="1">

          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let country of filteredCountries | async" [value]="country.name">
              <img [src]="country.flag.valueOf() | safe:'resourceUrl'" height="25" width="35"
                   onerror="this.onerror=null; this.remove();">
              <span style="font-size: 14px; color: #121212;"> {{country.name}}</span>
            </mat-option>

          </mat-autocomplete>
          <button class="search-country-button" (click)="navigateToSalaries()">
            <!--                        <mat-icon style="color: #121212; padding: 0; margin: 0; height: auto; width: auto;" >today</mat-icon>-->
            GO
          </button>

        </div>


        <br>
        <div style="padding-right: 20px;">
          <button mat-raised-button class="route-buttons" (click)="navigateToSalaries()">CAREERS AND SALARIES</button>
          <button mat-raised-button class="route-buttons" (click)="navigateToDataAnalytics()">DATA ANALYTICS</button>
        </div>


      </div>
    </div>
  </div>

  <img class="salaryman-img" [@openClose2]="isOpen ? 'open' : 'closed'" mat-card-image src="https://i.imgur.com/blAJxxW.png" alt="Salaryman">
  <div class="col-xs-1">
  </div>
</div>

<div class="row mobile-only-row" *isMobile>
  <img class="mobile-salaryman-img" mat-card-image src="https://i.imgur.com/blAJxxW.png" alt="Salaryman">

  <div class="mobile-card-component" style="text-align: center">
    <h3>
      SHALARY - SALARY SHARING
    </h3>
    <br>
    <h4 style="color: #dadada">
      WORLD'S HIGHEST RATED #1
      <br>
      ANONYMOUS CAREERS SHARING SITE
    </h4>


    <div class="mobile-search-by-country-and-buttons-div ag-theme-alpine">


      <div class="wrapper" style="margin-bottom: 10px; ">
        <input [matAutocomplete]="auto" [formControl]="countriesControl" placeholder="Search careers by country" class="mobile-search-career-input" value="1">

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let country of filteredCountries | async" [value]="country.name">
            <img [src]="country.flag.valueOf() | safe:'resourceUrl'" height="25" width="35"
                 onerror="this.onerror=null; this.remove();">
            <span style="font-size: 14px; color: #121212;"> {{country.name}}</span>
          </mat-option>

        </mat-autocomplete>
        <button class="mobile-search-country-button" (click)="navigateToSalaries(true)">
          GO
        </button>

      </div>


      <br>
      <div style="display: flex; align-items: center; justify-content: center">
        <button mat-raised-button class="mobile-route-buttons" (click)="navigateToSalaries(true)">CAREERS AND SALARIES</button>
        <button mat-raised-button class="mobile-route-buttons" (click)="navigateToDataAnalytics()">DATA ANALYTICS</button>
      </div>


    </div>
  </div>

</div>
