.optional {
  font-style: italic;
}

.mat-raised-button.mat-remove-job {
  background-color: darkgrey;
  color: white;
}

.mat-raised-button.mat-add-job {
  background-color: cornflowerblue;
  color: white;
}


.job-form-field {
  width: 9%;
}

.full-width-line {
  width: 95%;
}

.job-form-field.with-margin-right-30px {
  margin-right: 30px;
}

.job-form-field.with-margin-right-30px.italic {
  font-style: italic;
}


.col-xs-2, .col-xs-8 {
  background-color: whitesmoke;
  padding: 20px 40px 30px;
  border-radius: 30px;
}

h1 {
  color: black;
}
