<div class="ag-theme-alpine">
  <div class="container-fluid">
    <div class="row">


      <div class="col-xs-12" style="height: 100%; vertical-align: center; padding-top: 20px;">

        <div style="text-align: center; font-size: 1.8vw">
          <button mat-raised-button class="share-your-experience-button" *loggedInUserHasNoSalaryHistory (click)="redirectService.redirectToRegisterRoute($event)">
            Help your fellow and unlock everything by shalarying !
          </button>
        </div>

        <div style="text-align: center; vertical-align: middle; align-items: center; font-size: 15px; ">

          <!--          <mat-form-field floatLabel="never" appearance="outline" style="font-size: 15px; width: 20%; padding-top: 0.3%;">-->
          <!--            <mat-label style="text-align: left; display: block; width: auto;">-->
          <!--              <mat-icon style="font-size: 20px;  vertical-align: middle;">search</mat-icon>-->
          <!--              Search salaries-->
          <!--            </mat-label>-->
          <!--            <input matInput style="text-align: left;" id="filter-text-box" (input)="salaryService.onFilterTextBoxChanged(gridOptions)"/>-->
          <!--          </mat-form-field>-->

        </div>
        <div style="text-align: center; vertical-align: middle; align-items: center; font-size: 12px;">

          <mat-form-field appearance="outline">
            <mat-label>Countries</mat-label>
            <mat-select [formControl]="countriesControl" multiple [(ngModel)]="selectedCountries" class="mat-primary">
              <app-select-all-option [control]="countriesControl" [values]="allCountriesName"></app-select-all-option>
              <mat-option *ngFor="let country of allCountriesWithTheirFlags" [value]="country.name">
                <img aria-hidden [src]="country.flag.valueOf() | safe:'resourceUrl'" height="25" width="35" onerror="this.onerror=null; this.remove();">
                <span style="font-size: 14px;"> {{country.name}}</span>
              </mat-option>
            </mat-select>
            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="selectedCountries=undefined; $event.stopPropagation()">
              <mat-icon class="clear-filter-button">close</mat-icon>
            </button>
          </mat-form-field>


          <mat-form-field appearance="outline">
            <mat-label>Sectors</mat-label>
            <mat-select [formControl]="sectorsControl" multiple [(ngModel)]="selectedSectors">
              <app-select-all-option [control]="sectorsControl" [values]="sectors"></app-select-all-option>
              <mat-option *ngFor="let sector of sectors" [value]="sector">
                {{sector}}
              </mat-option>
            </mat-select>
            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="selectedSectors=undefined; $event.stopPropagation()">
              <mat-icon class="clear-filter-button">close</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Jobs</mat-label>
            <mat-select [formControl]="jobsControl" multiple [(ngModel)]="selectedJobs">
              <app-select-all-option [control]="jobsControl" [values]="jobNames"></app-select-all-option>
              <mat-option *ngFor="let jobName of jobNames" [value]="jobName">
                {{jobName}}
              </mat-option>
            </mat-select>
            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="selectedJobs=undefined; $event.stopPropagation()">
              <mat-icon class="clear-filter-button">close</mat-icon>
            </button>
          </mat-form-field>


          <mat-form-field appearance="outline">
            <mat-label>Companies</mat-label>
            <mat-select [formControl]="companiesControl" multiple [(ngModel)]="selectedCompanies">
              <app-select-all-option [control]="companiesControl" [values]="companies"></app-select-all-option>
              <mat-option *ngFor="let company of companies" [value]="company">
                {{company}}
              </mat-option>
            </mat-select>
            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="selectedCompanies=undefined; $event.stopPropagation()">
              <mat-icon class="clear-filter-button">close</mat-icon>
            </button>
          </mat-form-field>
          <!--          <mat-form-field appearance="outline">-->
          <!--            <mat-label>Salary Ranges</mat-label>-->
          <!--            <mat-select [formControl]="salaryRangesControl" multiple [(ngModel)]="selectedSalaryRanges">-->
          <!--              <app-select-all-option [control]="salaryRangesControl" [values]="salaryRanges"></app-select-all-option>-->
          <!--              <mat-option *ngFor="let salaryRange of salaryRanges" [value]="salaryRange">-->
          <!--                {{salaryRange}}-->
          <!--              </mat-option>-->
          <!--                        </mat-select><button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="selectedSalaryRanges=undefined; $event.stopPropagation()">
              <mat-icon class="clear-filter-button" >close</mat-icon>
            </button>-->
          <!--          </mat-form-field>-->
          <mat-form-field appearance="outline">
            <mat-label>Contract Types</mat-label>
            <mat-select [formControl]="contractsControl" multiple [(ngModel)]="selectedContracts">
              <app-select-all-option [control]="contractsControl" [values]="contracts"></app-select-all-option>
              <mat-option *ngFor="let contract of contracts" [value]="contract">
                {{contract}}
              </mat-option>
            </mat-select>
            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="selectedContracts=undefined; $event.stopPropagation()">
              <mat-icon class="clear-filter-button">close</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Education</mat-label>
            <mat-select [formControl]="educationsControl" multiple [(ngModel)]="selectedEducations">
              <app-select-all-option [control]="educationsControl" [values]="educations"></app-select-all-option>
              <mat-option *ngFor="let education of educations" [value]="education">
                {{education}}
              </mat-option>
            </mat-select>
            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="selectedEducations=undefined; $event.stopPropagation()">
              <mat-icon class="clear-filter-button">close</mat-icon>
            </button>
          </mat-form-field>
          <br>


          <button mat-raised-button (click)="resetFilters()" style="background-color: palegoldenrod; color: black;margin-top: 10px; font-size: 14px; height:35px; text-align: left;">
            <mat-icon style="font-size: 20px;  vertical-align: middle;">close</mat-icon>
            RESET
          </button>
          <button mat-raised-button (click)="searchWithCriteria()"
                  style="background-color: palegoldenrod; margin-left: 15px; color: black;margin-top: 10px; font-size: 14px; height:35px; text-align: left;">
            <mat-icon style="font-size: 20px;  vertical-align: middle;">search</mat-icon>
            SEARCH WITH FILTERS
          </button>
        </div>




        <div fxLayout="row">

          <div fxLayoutAlign="start center" fxLayoutGap="5px" fxFlex="30" class="flag-and-currency-title">
            Convert salaries to chosen currency
            <!--            Filter by countries with most data-->
          </div>


          <div fxLayoutAlign="start center" fxLayoutGap="5px" fxFlex="40"></div>

          <div fxLayoutAlign="end center" fxLayoutGap="5px" fxFlex="40" class="flag-and-currency-title">
          </div>
        </div>


        <div fxLayout="row">

          <div fxLayoutAlign="start center" fxLayoutGap="5px" fxFlex="30">
            <div [style.background-color]="currency !== selectedCurrency ? 'white' : 'yellow'" class="currency"
                 *ngFor="let currency of currencies" (click)="applyNewCurrencySelected(currency)">
              {{currency}}
            </div>

          </div>


          <div fxLayoutAlign="start center" fxLayoutGap="5px" fxFlex="40"></div>

          <div fxLayoutAlign="end center" fxLayoutGap="5px" fxFlex="40">

          </div>
        </div>
        <mat-form-field floatLabel="never" appearance="outline" style="font-size: 13px; width: 20%; padding-top: 0.3%;">
          <mat-label style="text-align: left; display: block; width: auto;">
            <mat-icon style="font-size: 20px;  vertical-align: middle;">search</mat-icon>
            Search
          </mat-label>
          <input matInput style="text-align: left;" id="filter-text-box" (input)="salaryService.onFilterTextBoxChanged(gridOptions)"/>
        </mat-form-field>


        <ag-grid-angular
          style="width: 100%;"
          class="ag-theme-alpine-dark"
          [rowData]="rowData"
          [columnDefs]="desktopColumnDefs"
          [defaultColDef]="defaultColDef"
          [gridOptions]="gridOptions"
          (gridReady)="onGridReady($event)"
          [tooltipShowDelay]="tooltipShowDelay"
          [tooltipHideDelay]="tooltipHideDelay"
          (rowClicked)="openUserInfos($event)"
        >
        </ag-grid-angular>
      </div>
    </div>
  </div>


</div>
