/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ag-grid-community/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/styles/ag-theme-balham.css";
@import "../node_modules/ag-grid-community/styles/ag-theme-alpine.css";
@import "../node_modules/ag-grid-community/styles/ag-theme-balham.css";
@import "../node_modules/ag-grid-community/styles/ag-theme-material.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*/
  -------------------------- COLORS :
  COMPONENT => CLASS .website-background-color (toolbar)
  MAT FORM BUTTONS => ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline
  WHOLE WEBSITE : check body {} in this file
 */

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #121212;
}

.custom-dialog-container .mat-dialog-container {
  margin-top: 0;
  padding: 0;
}

.ag-row-hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.ag-row-selected {
  background-color: black;
  color: white;
}


.my-panel .mat-dialog-container {
  border-radius: 30px;
}


/* no cell select*/
.ag-cell-focus, .ag-cell-no-focus {
  border: none !important;
  outline: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-tooltip {
  font-size: 12px !important;
  font-style: italic;
  position: relative;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
