/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-balham.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine-dark.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-balham-dark.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-balham.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-blue.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-dark.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-fresh.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-material.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*mat-dialog-container {*/
/*  background: yellow !important;*/
/*  background-color: #bbbbbbf2;*/
/*  backdrop-filter: blur(4px);*/
/*}*/

html, body {
  /*height: 100%;*/
  background-color: whitesmoke;
  /*!*background-image: url('https://i.pinimg.com/originals/79/a9/1e/79a91ec14d50973bc199f38190485269.jpg');*!*/
  /*background-repeat: no-repeat;*/
  /*color: black;*/
  margin: 0%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ag-row-hover {
  cursor: pointer;
}

.my-panel .mat-dialog-container {
  border-radius: 30px;
}
.ag-row-selected {
  background-color:lightblue !important;
}
/* no cell select*/
.ag-cell-focus,.ag-cell-no-focus{
  border:none !important;
  outline: none;
}

/*html, body { height: 100%; }*/
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
