/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ag-grid-community/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/styles/ag-theme-balham.css";
@import "../node_modules/ag-grid-community/styles/ag-theme-alpine.css";
@import "../node_modules/ag-grid-community/styles/ag-theme-balham.css";
@import "../node_modules/ag-grid-community/styles/ag-theme-material.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*/
  -------------------------- COLORS :
  COMPONENT => CLASS .website-background-color (toolbar)
  MAT FORM BUTTONS => ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline
  WHOLE WEBSITE : check body {} in this file
 */

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #121212;
}

.custom-dialog-container .mat-dialog-container {
  margin-top: 0;
  padding: 0;
}

.ag-row-hover {
  cursor: pointer;
  background-color: palegoldenrod;
  color: black;
}

.my-panel .mat-dialog-container {
  border-radius: 30px;
}

.ag-row-selected {
  background-color: palegoldenrod;
  color: black;
}

/* no cell select*/
.ag-cell-focus, .ag-cell-no-focus {
  border: none !important;
  outline: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
