<div class="row main-div">
  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    <div class="container-1">
      <div style="padding-top: 25%;">
        <h1>
          BUILT TO HELP, DISCOVER AND EVOLVE.
        </h1>

        <h4 style="color: white; font-size: 1vw; padding-top: 20px; text-align: center">

          Shalary helps anyone who needs guidance through their career.

          Everyone can look all the shared experiences :
          Yous can read stories about other people, anywhere in the world, their experiences their progression throughout their careers and much more.
          <br>
          <br>
          You will be able to obtain interesting data thanks to the various testimonies of the users of the site.
          For example, let's say you would like to know the average salary of a data scientist after a master and 5 years of experience
          in Paris in consulting firms? No problem, Shalary is here for you.

          <br>
          <br>
          Are you going to negociate in your annual performance review ? You would surely need some tips to get the best of this interview, or even get some
          data to see what salary you can reach at this stage of your life.

          <br><br><br>
          <div class="footer">If you have any business inqueries,
            suggestions or feedbacks feel free to write to this address : shalary-support@gmail.com
          </div>
        </h4>
      </div>
    </div>
  </div>
</div>
