<div class="ag-theme-balham, home-text">
  <div class="container-fluid">
    <div class="row" style="padding-top: 1%; text-align: justify;">
      <div class="col-lg-12" style="text-align: center">
        <h1 style="text-align: center; font-size: 30px; margin: 10px">Welcome to Shalary !</h1>
        <button mat-raised-button class="share-your-experience-button">Share your experience
        </button>
      </div>
      <br>
      <div class="col-lg-6">
        <div class="three-card-component">
          <div style="text-align: center; ">
            <h1>
              Salaries Table&nbsp;
              <mat-icon style="transform: scale(1.5);">auto_graph</mat-icon>
            </h1>
          </div>

          <img src="https://i.imgur.com/kqYl1m8.png" />


        </div>
      </div>
<!--      <div class="col-lg-6">-->
<!--        <div class="three-card-component">-->
<!--          <div style="text-align: center; ">-->
<!--            <h1>-->
<!--              Experience History-->
<!--            </h1>-->
<!--          </div>-->
<!--          <img src="https://i.imgur.com/bd8fBDK.png"/>-->

<!--        </div>-->
<!--      </div>-->

    </div>
  </div>
</div>
